In [5]:
import numpy
import pandas as pd
import warnings 

data= 'vine_table'
warnings.filterwarnings('ignore')

In [6]:
vine_df = pd.read_csv(data, index_col= False)
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y
...,...,...,...,...,...,...
1785992,RPC430LWZJ60T,5,1,1,N,N
1785993,R347MZT5FH6HRJ,5,2,2,N,N
1785994,RJ5BETZP0VIUS,1,0,2,N,N
1785995,R85QTDO2KZMGO,1,1,3,N,N
1785996,R2W36RZZZNTYWF,5,1,1,N,N

In [7]:
#filter total votes >= 20
filtered_df = vine_df[vine_df["total_votes"]>=20]
filtered_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
...,...,...,...,...,...,...
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785714,R26KS4Q9G04FIV,2,8,21,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [11]:
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame or 
#table to retrieve all the rows where the number of helpful_votes divided by 
#total_votes is equal to or greater than 50%.

filtered_df["votes_ratio"] = filtered_df.helpful_votes/ filtered_df.total_votes >= .5
filtered_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio,votes_ratio
55,R4PKAZRQJJX14,1,21,34,N,N,True,True
74,R2CI0Y288CC7E2,1,21,35,N,Y,True,True
209,R127WEQY2FM1T3,1,147,175,N,Y,True,True
289,R3EZ0EPYLDA34S,1,14,31,N,Y,False,False
483,R2FJ94555FZH32,2,55,60,N,N,True,True
...,...,...,...,...,...,...,...,...
1785688,R3GYUWLD9FWCPS,5,30,30,N,N,True,True
1785714,R26KS4Q9G04FIV,2,8,21,N,N,False,False
1785788,RU0J1ZMBCLD27,5,27,29,N,N,True,True
1785806,R1D69XH2THYKTG,5,18,20,N,N,True,True
1785935,R3U5C85OV6BUKM,4,38,43,N,N,True,True

In [12]:
vine_verified = filtered_df[filtered_df['verified_purchase']== 'Y']
vine_verified

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio,votes_ratio
74,R2CI0Y288CC7E2,1,21,35,N,Y,True,True
209,R127WEQY2FM1T3,1,147,175,N,Y,True,True
289,R3EZ0EPYLDA34S,1,14,31,N,Y,False,False
537,R1U3AR67RE273L,1,51,65,N,Y,True,True
1359,R6KTC1OPIOIIG,2,19,34,N,Y,True,True
...,...,...,...,...,...,...,...,...
1784317,R3NEKOTM4JLXSA,3,19,21,N,Y,True,True
1785029,R16IS0J74O0LCP,5,25,29,N,Y,True,True
1785080,R2GY46U6ENI6DN,5,53,57,N,Y,True,True
1785222,R217MVS435SRAB,5,51,51,N,Y,True,True
1785344,R1PE5AJJ6GKILJ,5,22,50,N,Y,False,False

In [14]:
vine_unverified = filtered_df[filtered_df['verified_purchase'] == "N"]
vine_unverified

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio,votes_ratio
55,R4PKAZRQJJX14,1,21,34,N,N,True,True
483,R2FJ94555FZH32,2,55,60,N,N,True,True
670,R3PZOXA5X1U8KW,4,31,36,N,N,True,True
1402,R36O341WWXXKNP,5,28,31,N,N,True,True
1450,R3GSK9MM8DNOYI,1,4,32,N,N,False,False
...,...,...,...,...,...,...,...,...
1785688,R3GYUWLD9FWCPS,5,30,30,N,N,True,True
1785714,R26KS4Q9G04FIV,2,8,21,N,N,False,False
1785788,RU0J1ZMBCLD27,5,27,29,N,N,True,True
1785806,R1D69XH2THYKTG,5,18,20,N,N,True,True
1785935,R3U5C85OV6BUKM,4,38,43,N,N,True,True

In [15]:
# Determine the total number of reviews, the number of 5-star reviews,
# and the percentage of 5-star reviews for the two types of review

verified_total_reviews = len(vine_verified)
unverified_total_reviews = len(vine_unverified)

verified_five_stars = (vine_verified['star_rating'].values ==5).sum()
unverified_five_stars = (vine_unverified['star_rating'].values ==5).sum()

verified_five_stars_percent = (verified_five_stars/verified_total_reviews)
unverified_five_stars_percent = (unverified_five_stars/unverified_total_reviews)

In [16]:
print(verified_total_reviews, verified_five_stars, verified_five_stars_percent)
print(unverified_total_reviews, unverified_five_stars, unverified_five_stars_percent)

15742 4704 0.2988184474653792
49637 15783 0.3179684509539255